:root {
    --primary-color: #00B2FF;
    --dark-color: #27272A;
    --green-color: #4AD295;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.btn-success {
    background-color: var(--green-color);
    border: 0;
}

.btn-success:hover {
    background-color: #40B480;
    text-decoration: underline;
}

.logo-icon {
    text-align: center;
}

.logo-icon h1 {
    margin: 0;
    margin-bottom: -10px;
    color: var(--primary-color);
    font-size: 48px;
}

.logo-icon h5 {
    font-size: 24px;
    font-weight: 500;
}

section#login .form-group .form-control {
    border-radius: 0;
}

section#login .form-group input.form-control::placeholder {
    color: #A7A7A7;
}

section#login .form-group input.form-control:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: none;
}

section#login .form-group .form-control:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

section#login .form-group .form-control:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 0;
}

section#login .form-group .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

section#login .form-group .btn-primary:hover,
section#login .form-group .btn-primary:active,
section#login .form-group .btn-primary:focus {
    background-color: #009ee2;
    border-color: #009ee2;
}


nav#side-nav {
    width: 16.66666667%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #ffffff;
    border: 0.5px solid #E5E5E5;
    border-radius: 0;
}

nav#side-nav .list-group-item {
    color: #8E8E8E;
    border-radius: 8px;
}

nav#side-nav .list-group-item:hover {
    text-decoration: underline;
    background-color: #F0F0F0;
}

nav#side-nav .list-group-item.active {
    color: #ffffff;
    background-color: var(--primary-color);
}

nav#side-nav .list-group-item.active:hover {
    background-color: var(--primary-color);
}

nav#side-nav .logo.btn {
    border-color: #E5E5E5;
    border-radius: 8px;
}

nav#side-nav .logo.btn:hover {
    background-color: #F9FAFB;
    border-color: #A7A7A7;
}

nav#side-nav .logo h1 {
    margin: 0;
    color: var(--primary-color);
    font-size: 36px;
}

nav#side-nav .logo h6 {
    color: var(--dark-color);
    font-size: 20px;
}

nav#side-nav #btn-logout {
    border-radius: 8px;
}

section {
    margin-left: 16.66666667%;
}

#weather .temperature {
    color: var(--primary-color);
}

.table-action .btn {
    border: 0;
}

div.modal .modal-content {
    border-radius: 8px;
    border: 2px solid var(--primary-color);
}

div.modal .modal-content label.form-label {
    margin: 0;
    font-weight: 600;
}

div.modal .modal-content .btn-primary {
    background-color: var(--primary-color);
    border: 0;
}

div.modal .modal-content .btn-primary:focus,
div.modal .modal-content .btn-primary:active,
div.modal .modal-content .btn-primary:hover {
    background-color: #009ee2;
    border-color: #009ee2;
}

div.modal .modal-content .btn-secondary {
    background-color: #F0F0F0;
    color: #8E8E8E;
    border: 0;
}

div.modal .modal-content .btn-secondary:focus,
div.modal .modal-content .btn-secondary:active,
div.modal .modal-content .btn-secondary:hover {
    background-color: #8E8E8E;
    color: #F0F0F0;
}

div#pagination .btn.btn-light {
    background-color: #ffffff;
    border: 1px solid #8E8E8E;
    color: #8E8E8E;
}

div#pagination input.form-control {
    width: 80%;
    margin: 0 auto;
}

div#pagination .btn.btn-light:focus,
div#pagination .btn.btn-light:active,
div#pagination .btn.btn-light:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    border-color: var(--primary-color);
}

table.table tr td:first-child,
table.table tr th:first-child {
    padding-left: 0.75rem;
    text-align: center;
}